footer{
    .footer-top{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        padding: 45px;
        ul li a{
            color: #fff;
            font-size: 12px;
            padding: 6px 0px;
            display: inline-block;
        }
        h2{
            font-size: 14px;
            color: #fff;
            margin-bottom: 10px;
        }
        .footer-title{
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #FFFFFF99;
        }
        .footer-info{
            margin-bottom: 25px;
            a{
                font-size: 14px;
                color: #fff;
            }
        }
        .footer-address{
            color: #fff;
            font-size: 12px;
        }
    }
    .contact-form{
        .label{
            font-size: 14px;
            text-align: right;
            color: #fff;
        }
        .contact-desc{
            text-align: right;
            font-size: 12px;
            color: #FFFFFF99;
        }
        .form-group{
            input{
                border-radius: 19px;
                border: none;
                padding: 8px 12px;
                text-align: right;
                background-color: $global_color;
                margin-bottom: 10px;
                width: 100%;
                color: #fff;
            }
        }
        .btn-submit{
            text-transform: uppercase;
            padding: 8px 15px 8px 15px;
            border-radius: 19px;
            font-size: 10px;
            color: #fff;
            background-color: $global_color;
            border: none;
            display: flex;
            margin-left: auto;
        }
    }
    .footer-center {
        padding: 15px 40px;
        background: #023F76;
    }
    .footer-bot {
        display: block;
        overflow: hidden;
        // padding: 15px 45px;
        background: #fff;
        font-size: 12px;
    }
    #menu-footer-menu{
        li{
            padding: 15px 20px;
            color: #173E62;
            border-right: 1px solid #eee;
        }
        a{
            text-transform: uppercase;
        }
    }
    .copyright{
        padding: 15px 20px;
    }
}

@media (max-width:575px){
    footer {
        .footer-top{
            padding: 15px;
            ul li a{
                font-size: 10px;
            }
            .footer-info{
                a{
                    font-size: 12px;
                }
            }
        }
        .footer-menu{
            flex-direction: row-reverse;
        }
        .order2{
            order: 2;
        }
        .order1{
            order: 1;
        }
        .contact-form {
            .form-group input{
                background:#149BD7 ;
                color: #fff;
                text-align: left;
                &::placeholder{
                    color: #fff;
                }
            }
            .label,.contact-desc{
                text-align: center;
            }
            .label{
                letter-spacing: 3px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .btn-submit{
                margin: 10px auto;
                background: #149BD7;
            }
        }
        .logo-footer{
            a{
                margin: 20px;
                display:block;
                text-align: center;
                img{
                    width: 80px;
                }
            }
           
        }
        .footer-nav{
            flex-direction: column;
            margin-bottom: 50px;
        }
        #menu-footer-menu li{
            padding: 10px;
            font-size: 10px;
        }
        .copyright {
            padding: 0px 0px 10px;
        }
    }
}

