.leader-section{
    padding: 40px 0px;
    .leader-title{
        color: #020101;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .person{
        padding: 30px 60px;
        background:#F7F7F7;
        height: 100%;
        p{
            font-size: 16px;
            margin-bottom: 24px;
            color: #66717A;
        }
        .title{
            margin-bottom: 20px;
        }
    }
    .person-img{
        width: 100%;
    }
    .leader-member-title{
        padding: 30px 0px 20px;
    }
    .leader-member{
        text-align: center;
        img{
            margin-bottom: 20px;
        }
        .title{
            color: $global_color;
            margin-bottom: 10px;
        }
        .name{
            margin-bottom: 20px;
        }
        .content{
            color: #66717A;
        }
    }
    .member-list{
        width: 100%;
        .title{
            margin: 10px 0px;
            color: $global_color;
        }
    }
    .member-list-item {
        .name{
            font-size: 12px;
            padding: 10px 0px 0px;
            color: #66717A;
        }
    }
    .member-section{
        padding: 30px;
    }
}

@media (max-width:575px){
    .leader-section{
        .person{
            padding: 15px;
        }
        .member-section{
            padding: 30px 0px;
        }
    } 
   
}