@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import "../scss/common/common";
@import "../scss/common/reset";
@import "../scss/common/grid";

@import "../scss/home";
@import "../scss/tintuc";
@import "../scss/bantin";
@import "../scss/linhvuc";
@import "../scss/gioithieu";
@import "../scss/company";
@import "../scss/partner";
@import "../scss/leader";
@import "../scss/contact";
@import "../scss/header";
@import "../scss/footer";

html{
    font-family: "Roboto", sans-serif;
    
}
p{
    // line-height: 30px;
    // padding-bottom: 20px;
}
.section-post{
    h1,h2,h3,h4,h5,h6{
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 20px;
    }
}
.section-common{
    padding: 40px 0px;
}
// Common font-size, padding 
.fs-22{
    font-size: 22px;
}
.fs-16{
    font-size: 16px;
}
.fs-24{
    font-size: 24px;
}
.p-2{
    padding: 20px auto;
}

.btn-common{
    padding: 6px 20px;
    background: #164FA3;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
}
.viewmore-btn {
    min-width: 115px;
    padding: 0 20px;
    height: 28px;
    border-radius: 26px;
    background: $global_color;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    line-height: 28px;
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
// Breadcrumb Common
.news-page {
    position: relative;
    width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .breadcrumb_link{
        margin-bottom: 20px;
        color: #fff;
    }
    .breadcrumb_link a {
        // color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
    }
    .title{
        font-size: 30px;
        line-height: 48px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .news-page-banner{
        position: absolute;
        z-index: 2;
        top: auto;
        bottom: 30px;
        left: calc(100% / 12);
        right: calc((100% / 12) * 4.5);
    }
}


@media (max-width:575px){
    .news-page {
        .breadcrumb_link{
            margin-bottom: 10px;
        }
        .news-page-banner{
            left: unset;
            right: unset;
            padding: 20px;
        }
        .title{
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 30px;
        }
    }
    .display-none-mb{
        display: none;
    }
}


// Trang qui dinh bieu tuong
.icon-section-page{
    .icon-page-title{
        color: #0A0A0A;
        font-size: 24px;
        // margin-bottom: 20px;
        font-weight: 600;
    }
    .icon-page-subtitle{
        color: #66717A;
        font-size: 15px;
        line-height: 30px;
        margin-bottom:20px
    }
    .show-icon{
      
        img{
            object-fit: contain;
        }
        .logo1{
            width: 45%;
           img{
            max-width: 300px;
           }
        }
        .logo2{
            width: 55%;
        }
    }
    .color-icon1,.color-icon2{
        text-align: center;
        p{
            font-size: 14px;
        }
    }
    .color-icon{
        padding: 10px 0px;
    }
    .color-icon1{
        // margin: 10px 0px 0px 0px;
        padding: 30px 50px 30px 50px;
        background-color: #164FA3;
        border-radius: 0px 250px 0px 0px;
        color: #fff;
    }
    .color-icon2{
        margin: 0px 0px 0px 0px;
        padding: 30px 50px 27px 50px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-radius: 0px 250px 0px 0px;
        color: #000;
    }
}
@media (max-width:575px){
    .show-icon{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .color-icon1{
        margin-bottom: 20px;
    }
    .icon-section-page .show-icon .logo2{
        width: 100%;
    }
    .logo1{
        margin-bottom: 20px;
    }
}