.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    &.fix-header {
        background: $global_color;
        transition: 0.5s;
        height: 80px;
      }
    .header-left{
        position: absolute;
        left: 20px;
        top: 14px;
        z-index: 999;
    }
    .header-right{
        width: 100%;
        .header-top{
            ul{
                width: 100%;
                padding: 5px 35px;
               
            }
        }
        .header-bottom{
            li{
                position: relative;
                padding-right: 60px;
                a{
                    color: #fff;
                    
                }
                &:hover{
                    .sub-menu{
                        display: block;
                    }
                }
            }
            .sub-menu{
                display: none;
                position: absolute;
                left: 50%;
                background: #164FA3;
                // min-width: 200px;
                white-space: nowrap;
                border-radius: 10px;
                transform: translateX(-50%);
                li{
                    padding: 13px 20px;
                    font-size: 13px;
                }
                a{
                    color: #fff;
                    transition: all 0.3s ease;
                    &:hover{
                        color: $hover_menu;
                    }
        
                }
            }
        }
        .header-language{
            position: absolute;
            right: 30px;
            top: 13px;
            transition: 0.5s;
        }
    }
}