.news-page {
    position: relative;
    width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .breadcrumb_link a {
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 20px 0 0px;
    }
    .title{
        font-size: 30px;
        line-height: 48px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .news-page-banner{
        position: absolute;
        z-index: 2;
        top: auto;
        bottom: 30px;
        left: calc(100% / 12);
        right: calc((100% / 12) * 4.5);
    }
}

.news-container{
    padding: 40px 0px;
    .news-item{
        overflow: hidden;
        margin-bottom: 20px;
        img{
            transition: .3s ease-out;
        }
        &:hover{
            img{
                transform: scale(1.1, 1.1);
            }
        }
        position: relative;
        .news-detail{
            position: absolute;
            bottom: 0px;
            background: rgba(0,0,0,0.5);
            padding: 30px;
            width: 100%;
            .date{
                font-size: 13px;
                color: #bbb;
                margin-bottom: 20px;
            }
            .title{
                font-size: 18px;
                color: #fff;
            }
        }
        .tag{
            position: absolute;
            top: 10px;
            left: 10px;
            a{
                background: #1e87f0;
                padding: 5px 8px;
                color: #fff;
                box-sizing: border-box;
                display: inline-block;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 700;
                transition: all .3s ease;
                margin-right: 10px;
            }
        }
    }
}
